In [66]:
import numpy as np 
import pandas as pd
import nltk 
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score,accuracy_score

In [5]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [14]:
table = pd.read_csv('/content/reviews.txt', sep = '\t', names = ['Sentiment', 'Reviews'])

In [15]:
table

      Sentiment                                            Reviews
0             1            The Da Vinci Code book is just awesome.
1             1  this was the first clive cussler i've ever rea...
2             1                   i liked the Da Vinci Code a lot.
3             1                   i liked the Da Vinci Code a lot.
4             1  I liked the Da Vinci Code but it ultimatly did...
...         ...                                                ...
6913          0                     Brokeback Mountain was boring.
6914          0       So Brokeback Mountain was really depressing.
6915          0  As I sit here, watching the MTV Movie Awards, ...
6916          0    Ok brokeback mountain is such a horrible movie.
6917          0   Oh, and Brokeback Mountain was a terrible movie.

[6918 rows x 2 columns]

In [16]:
stopwords_data = set(stopwords.words('english'))

In [20]:
vectorize = TfidfVectorizer(use_idf = True, lowercase = True, strip_accents = 'ascii', stop_words = stopwords_data)

In [18]:
import pickle as pk

In [64]:
X = vectorize.fit_transform(table.Reviews)
Y = table.Sentiment
pk.dump(vectorize, open('transform.pkl', 'wb'))

In [56]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [69]:
classifier = LogisticRegression()

In [70]:
classifier.fit(X_train, Y_train)

LogisticRegression()

In [72]:

accuracy_score(Y_test,classifier.predict(X_test))

0.9855491329479769

In [73]:
classifier = LogisticRegression()
classifier.fit(X,Y)

LogisticRegression()

In [74]:
accuracy_score(Y_test, classifier.predict(X_test))

0.9956647398843931

In [63]:
file = 'sentiment.pkl'
pk.dump(classifier, open(file, 'wb'))